* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header {
      background-color: #f2f5ec;
      padding: 15px;
      position: sticky;
      z-index: 1000;
    }
    h1 {
      font-style: initial;
      font-size: 2rem;
      color: black;
      padding: 20px;
    }
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
    }
    /* Estilo para la imagen */
    .image {
      max-width: 100%;
      margin-right: 40px;
    }
    .container p {
      width: 50%;
      padding: 20px;
    }
    nav {
      margin: 15px;
      color: black;
      font-style: italic;
    }
    
    .listContainer {
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 15px;
    }
    
    .listContainer li {
      list-style: none;
    }
    
    .listContainer a {
      text-decoration: none;
      color: rgb(41, 41, 41);
    }
    
    .listContainer a:hover {
      font-weight: bold;
    }
    
   
    @media (max-width: 600px) {
      .listContainer {
        display: box;
      }
      .mobile-nav {
        display: block;
      }
    }
    footer {
      background-color: #5e6961;
      padding: 10px;
    }
    .social-links {
      display: flex;
      justify-content: center;
      gap: 15px;
    }
    .social-links a {
      text-decoration: none;
      color: #000000;
    }
    main {
      background-color: #bdc3ba;
      padding: 15px;
    }
    .content-grid {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
    @media (min-width: 600px) {
      .listContainer {
        flex-direction: row;
        justify-content: center;
      }
      .content-grid {
        grid-template-columns: 1fr 1fr;
      }
    }
    @media (min-width: 800px) {
      .content-grid {
        grid-template-columns: 1fr 1fr;
      }
    }
    .product-section {
      display: flex;
      align-items: center;
      padding: 20px;
    }
    .product-info {
      flex: 1;
      padding-right: 20px;
    }
    .product-image {
      flex-shrink: 0;
    }
    .image {
      width: 300px;
      height: 300px;
      border-radius: 10px;
    }
    .product-info h2 {
      color: #333;
      font-size: 1.5rem;
    }
    .product-info p {
      color: #555;
      font-size: 1rem;
    }

    .hamburger {
      display: none;
      cursor: pointer;
      border: none;
    }
    .listContainer.active {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center; 
    }
    @media screen and (max-width: 600px) {
      .listContainer {
        display: none;
        position: fixed; 
        top: 9%; 
        left: 0; 
        width: 100%; 
        height: 30%; 
        background: rgba(0, 0, 0, 0.9); 
      }
      .listContainer.active {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content: center;
      }
      .listContainer a {
        color: white;
      }
      .hamburger {
        display: block;
    
      }
    }
    .fa-bars {
      font-size: 20px;
    
    }
    .fa-times {
      font-size: 20px;
    }
    h2{
    font-size: 30;
    }
    .photos1 {
        margin-top: 100%;
        margin-bottom: 20%;
        max-width: 90%; /* Ajusta el ancho máximo de las imágenes */
        max-height: 40%; /* Establece la altura máxima de las imágenes */
    }
    .photos {
       
        margin-top: 100px;
        margin-bottom: 200px;
        max-width: 100%; /* Ajusta el ancho máximo de las imágenes */
        max-height: 40%; /* Establece la altura máxima de las imágenes */
    }
    .class{
        width: 30%;
        padding-inline-start: 30%;
    }
    /* Productos */
    .gallery-container {
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .gallery {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .artwork {
        text-align: center;
        margin: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease-in-out;
        width: 300px; /* Define el ancho de cada obra de arte */
    }
    
    .artwork:hover {
        transform: scale(1.05);
    }
    
    .artwork img {
        width: 100%;
        max-width: 100%;
        height: auto;
        border-radius: 8px; /* Agrega bordes redondeados a las imágenes */
    }
    
    .artwork p {
        margin: 10px 0;
    }
    /* Servicio*/
    body {
  .container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
  }
  
  form {
      display: grid;
      grid-gap: 10px;
  }
  
  label {
      font-weight: bold;
  }
  
  input, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      box-sizing: border-box;
  }
  .comments {
      margin-top: 20px;
  }
    }